<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VMLProEEG.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D0E5A1FCE44B3AF1ADCC0C2EB3C7BEC6778D7524</string>
				<key>dateExpires</key>
				<string>19/03/2022</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7ZE8X8P43P.com.neuropro.vlmproeegEnterprise</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7ZE8X8P43P</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>7ZE8X8P43P.com.neuropro.vlmproeegEnterprise</string>
				</array>
			</dict>
			<key>name</key>
			<string>VMLPro EEG.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7d0c6384-aae4-432c-b1b7-5dde7fb68d1b</string>
				<key>name</key>
				<string>VMLPROEEG Enterprise</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7ZE8X8P43P</string>
				<key>name</key>
				<string>NeuroPro AG</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
